ion-icon {
  font-size: 42px;
  color: #afafaf;
}

ion-card {
  width: 100%;
  min-height: 20vh;
  max-height: 20vh;

  &:hover {
    background-color: #4e4e4e;
    color: #ffffff;
    ion-card-subtitle {
      color:rgb(236, 161, 74);
    }
  }
}
