<app-header-custom [flag]="false" title="Configuração"></app-header-custom>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        <ion-card (click)="changePage('setup/language')">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name="language-outline"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>Idiomas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
            <p>Definir padrão de idioma (língua)</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card (click)="changePage">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name="color-palette-outline"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>Tema</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
            <p>Definir padrão de tema (paleta de cores)</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card (click)="changePage">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle>Servidor de e-mails</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
            <p>Definir provedor de envio de e-mails</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name=""></ion-icon>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name=""></ion-icon>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name=""></ion-icon>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name=""></ion-icon>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name=""></ion-icon>
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
