<app-header-custom-back [parameters]="parameters"></app-header-custom-back>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">
        <ion-card style="background-color: rgb(226, 226, 226)">
          <ion-card-header>
            <ion-card-title>
              <ion-img src="./../../../../assets/flags/pt.png"></ion-img>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              Português
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-img src="./../../../../assets/flags/it.png"></ion-img>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              Italiano
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-img src="./../../../../assets/flags/en.png"></ion-img>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              English
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-img src="./../../../../assets/flags/es.png"></ion-img>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              Español
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-img src="./../../../../assets/flags/fr.png"></ion-img>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              Français
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
