<app-header-custom
title="Login"
></app-header-custom>
<ion-content>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-padding-start ion-padding-end">
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="userLogin.userEmail" mode="ios" autocomplete="off" clearOnEdit="true" value=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input type="password" [(ngModel)]="userLogin.userPassword" mode="ios" autocomplete="off" clearOnEdit="true"></ion-input>
            </ion-item>
            <ion-button (click)="login()" class="ion-margin-top" color="primary" expand="block">
              <ion-label color="light">Entrar</ion-label>
            </ion-button>
            <ion-button (click)="goToRegister()" class="ion-margin-top" color="light" expand="block">
              <ion-label color="primary">Registrar</ion-label>
            </ion-button>
            <ion-item lines="none" class="ion-margin-top float">
              <ion-button *ngIf="!enterForgotPasswordMode" (click)="ForgotPasswordMode()" fill="clear">
                Esqueci a minha senha
              </ion-button>
              <ion-item *ngIf="enterForgotPasswordMode" class="float">
                <ion-label position="floating">E-mail de acesso</ion-label>
                <ion-input type="email" [(ngModel)]="recoveryEmail">
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-button *ngIf="enterForgotPasswordMode" (click)="send(recoveryEmail)" expand="block" fill="clear" shape="round">
                  Enviar
                </ion-button>
                <ion-button *ngIf="enterForgotPasswordMode" (click)="ForgotPasswordMode()">
                  <ion-label color="light">
                    Cancelar
                  </ion-label>
                </ion-button>
              </ion-item>
            </ion-item>
            <ion-item lines="none" class="ion-margin-top">
              <ion-checkbox (ionChange)="changeInputCheck($event, acceptPrivacy)"></ion-checkbox>
              <p class="ion-margin-start p-text">LI E ACEITO A <a href='privacy'>POLÍTICA DE PRIVACIDADE DE DADOS</a></p>
            </ion-item>
            <ion-item lines="none">
              <ion-checkbox (ionChange)="changeInputCheck($event, acceptTerms)"></ion-checkbox>
              <p class="ion-margin-start p-text">LI E CONCORDO COM OS <a href='terms'>TERMOS DE USO</a></p>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
